extends layout

block content
  h1= "You searched for " + searchTopic
  p The topic you searched was
  p=searchTopic
  p="We found " + newsArticles
  p This report is from
  p=newsSource
  p=newsTitle
  p=newsText

