extends layout



block content
  h1= title
  p Find information about recent vulnerabilities
  h2= "Select a timeframe"
  p #{body}
  p Days
    input(type="number", name="days")
  
  ul.nav
  each name in ["Dashboard", "About", "Contact"]
    if (menu=="Home")
      li.active
        a(href="#")= name
    else
      li
        a(href="#")= name
  
  button Check Dates
  h1= title2
  p Find information about a file #{title2}
  h2= "Here you can check a file's fingerprint and find out information"
  p Input the hash #{body2}
  button Check hash