extends layout

block content
  h1=title
  p Find information about recent vulnerabilities
  p=sometext
  h2= "Select a timeframe"
  p Find related vulnerabilities to a keyword

  form(action='/searchterm', name="keyword", method="get")
    div.input
      span.label Keyword
      input(type="text", name="keyword") 
    select#resultNum(name='resultNum')
      option() How many results
      option(value='1') 1
      option(value='2') 2
      option(value='5') 5
      option(value='10') 10
    button(type='submit') Search

  h1= title2
  p Find information about a file
  h2= "Here you can check a file's fingerprint and find out information"
  
  form(action="/checkhash", name="hash", method="get")
    div.input
      span.label Hash
      h2= "Please enter the hash of a file you wish to discover news about"
      input(type="text", name="inputHash")
      button(type='search') SearchHash

