extends layout

block content
  h1= title
  p Welcome to #{title}
  h2= "AMELIA WAS HERE"
  p Hello World #{body}
  button Check Dates
  h1= title2
  p Welcome to the second #{title2}
  h2= "this is the second title"
  p Hello again world #{body2}
  button Check ip