extends layout

block content
  h1=title
  p Find information about recent vulnerabilities
  p=sometext
  h2= "Select a timeframe"
  p Find related vulnerabilities to a keyword

  form(action='/searchterm', name="keyword", method="get")
    div.input
      span.label Keyword
      input(type="text", name="keyword") 
      button(type='submit') Search

  p Or select a timeframe to find vulnerabilities between
    form(action='/timeframe',name="timeframe", method="get")
      select#startMonth(name='startMonth')
        option() Month
        option(value='01') January
        option(value='02') February
        option(value='03') March
        option(value='04') April
        option(value='05') May
        option(value='06') June
        option(value='07') July
        option(value='08') August        
        option(value='09') September
        option(value='10') October
        option(value='11') November
        option(value='12') December 
      select#startYear(name='startYear')
        option() Year
        option(value='2015') 2015
        option(value='2016') 2016
        option(value='2017') 2017 
        option(value='2018') 2018
        option(value='2019') 2019
        option(value='2020') 2020
      select#endMonth(name='endMonth')
        option() Month
        option(value='01') January
        option(value='02') February
        option(value='03') March
        option(value='04') April
        option(value='05') May
        option(value='06') June
        option(value='07') July
        option(value='08') August        
        option(value='09') September
        option(value='10') October
        option(value='11') November
        option(value='12') December 
      select#endYear(name='endYear')
        option() Year
        option(value='2015') 2015
        option(value='2016') 2016
        option(value='2017') 2017 
        option(value='2018') 2018
        option(value='2019') 2019
        option(value='2020') 2020       
      button(type='submit') Submit
    

  h1= title2
  p Find information about a file
  h2= "Here you can check a file's fingerprint and find out information"
  form(name="add-estimation", method="post")
        div.input
            span.label Hash
            input(type="text", name="file hash")
          |  
        div.actions
            button2(type='search') Search

